@import '@redbull/common/style/styles.scss';

.header {
  background-image: url(../../assets/bg.png);
  background-size: cover;
  color: #ffffff;
  height: 140px;
  .headerBreadcrumbs {
    font-size: 12px;
    font-weight: 700;
    padding-left: 35px;
  }

  .headerTitle {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0;
      padding-left: 35px;
      padding-top: 3rem;
    }
    .ofpTitle {
      padding-right: 35px;
      padding-top: 2rem;
    }
  }
}
