@import '@redbull/common/style/styles.scss';

.wrapper {
  cursor: pointer;
  position: relative;
  .mask {
    background: linear-gradient(
        105deg,
        transparent,
        transparent 25%,
        hsla(0, 0%, 100%, 0.1) 0,
        hsla(0, 0%, 100%, 0.1) 50%,
        transparent 0,
        transparent 75%,
        hsla(0, 0%, 100%, 0.1) 0,
        hsla(0, 0%, 100%, 0.1)
      )
      no-repeat -5px -5px;
    background-size: 600% 600%;
    height: 100%;
    max-width: none;
    position: absolute;
    transition: background-position 0.3s cubic-bezier(0.35, 0, 0, 1);
    width: 100%;
    z-index: 1;
  }
  .clickable {
    cursor: pointer;
  }
  &:hover {
    .mask {
      background-position: 20% 20%;
    }
  }
  &:active {
    cursor: default;
    .mask {
      background-position: 80% 80%;
    }
  }
  .container {
    background-color: $c-white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: rem(20px);
    position: relative;
    width: rem(380px);

    &:before {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    @include media('<md') {
      overflow: hidden;
      width: rem(300px);
    }

    .image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      left: 0;
      min-height: rem(160px);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    .details {
      align-self: flex-end;
      position: relative;
      width: calc(100% - 4rem);
      z-index: 2;

      .title {
        color: $c-white;
        margin-bottom: rem(8px);
        text-transform: uppercase;
      }

      .description {
        color: $c-white;
      }
    }
  }
}
