@import '@redbull/common/style/styles.scss';

.container {
  .account-info-detail {
    justify-content: space-between;
    display: flex;
    .input {
      width: 25%;
      > * {
        & > input {
          margin-top: 1rem;
          margin-bottom: 1rem;
          background: #f7f6f6;
        }
      }
    }
  }
}
