@import '@redbull/common/style/styles.scss';
// Thumbnail of selected product with description
.content {
  align-items: flex-start;
  display: flex;
  .thumb {
    align-items: center;
    display: flex;
    img {
      height: rem(30px);
    }
  }
  .info {
    margin-left: rem(13px);
    margin-right: rem(13px);
    .type {
      font-family: $font-bull-text-bold;
      font-size: rem(13px);
      line-height: rem(16px);
    }
    .details {
      font-family: $font-bull-text-regular;
      font-size: rem(13px);
      line-height: rem(16px);
    }
  }
}
