@import '@redbull/common/style/styles';

.action {
  .loader {
    margin: 0;
    width: rem(60px);
  }
  .button {
    width: rem(90px);
    + .button {
      margin-left: rem(18px);
    }
  }
}

.status {
  align-items: center;
  display: flex;
  &.vertical {
    flex-direction: column;
    justify-content: center;
    width: rem(60px);
    span {
      margin-top: rem(5px);
    }
  }
  &.horizontal {
    flex-direction: row-reverse;
    height: 100%;
    span {
      margin-right: rem(5px);
    }
  }
}
