@import '@redbull/common/style/styles';

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  .title {
    line-height: rem(22px);
    margin: 20px;
    text-transform: uppercase;
  }
  .application {
    height: 100%;
    .detail {
      border-bottom: 1px solid $c-grey--3;
      border-top: 1px solid $c-grey--3;
    }
    .groups-heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .actions {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-right: rem(20px);

        .checkbox {
          width: rem(150px);
        }
      }
    }
    .groups-wrapper {
      display: flex;
    }
  }
  .footer {
    border-top: 1px solid $c-grey--3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    button {
      width: rem(90px);
    }
    .action {
      button + button {
        margin-left: rem(20px);
      }
    }
  }
}
